
      body,h1,h2,h3,h4,h5,h6,div,p { margin:0; padding:0; }
      .border-1-black {
        border: 1px solid #000;
      }
      .border-3-black {
        border: 3px solid #000;
      }
      .fw {
        box-sizing: border-box;
        display:inline-block;        
        width:100%;
      }
      .fw h1 { text-align: center; }
      .hw {  box-sizing: border-box; display: inline-block; width: 50%; }
      .quarter-w {  box-sizing: border-box; display: inline-block; width: 25%; }
      .third-w {  box-sizing: border-box; display: inline-block; width: 33.333333%; }
      .p-2 { padding: 2px;}
      .p-3 { padding: 3px;}
      .p-4 { padding: 4px;}
      .p-5 { padding: 5px;}
      .p-6 { padding: 6px;}
      .p-7 { padding: 7px;}
      .pr-2 { padding-right: 2px;}
      .pr-3 { padding-right: 3px;}
      .pr-4 { padding-right: 4px;}
      .pr-5 { padding-right: 5px;}
      .pr-6 { padding-right: 6px;}
      .pr-7 { padding-right: 7px;}
      .pl-2 { padding-left: 2px;}
      .pl-3 { padding-left: 3px;}
      .pl-4 { padding-left: 4px;}
      .pl-5 { padding-left: 5px;}
      .pl-6 { padding-left: 6px;}
      .pl-7 { padding-left: 7px;}
      .m-2 { margin: 2px;}
      .m-3 { margin: 3px;}
      .mr-2 { margin-right: 2px;}
      .mr-3 { margin-right: 3px;}
      .mr-4 { margin-right: 4px;}
      .mr-5 { margin-right: 5px;}
      .mr-6 { margin-right: 6px;}
      .mr-7 { margin-right: 7px;}
      .ml-2 { margin-left: 2px;}
      .ml-3 { margin-left: 3px;}
      .ml-4 { margin-left: 4px;}
      .ml-5 { margin-left: 5px;}
      .ml-6 { margin-left: 6px;}
      .ml-7 { margin-left: 7px;}
      .text-justify {text-align:justify;}
   
